@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
                
/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #737b9a;
    background: #ffffff !important;
}
h1,h2,h3,h4,h5,h6 {
    font-family:  'Poppins', sans-serif;
    color: #171718;
}

.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}

img {
    max-width: 100%;
}
p {
    color: #737b9a;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}

li {
    color: #737b9a
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.pb-100 {
    padding-bottom: 100px;
}
.all-btn {
    background: #0652DD;
    color: #fff;
    padding: 18px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #0652DD;
    transition: .5s;
    box-shadow: 0 5px 20px 0 rgb(6 82 221 / 25%);
}
.all-btn i {
    margin-left: 8px;
    top: -1px;
    position: relative;
}
.all-btn:hover {
    background: #fff;
    color: #0652DD;
}
.section-title {
    margin-bottom: 35px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    font-size: 35px;
}
.section-title h2::before {
    position: absolute;
    content: '';
    background: #0652DD;
    width: 40px;
    height: 3px;
    top: 17px;
    right: -60px;
}
button:focus {
    outline: 0;
    box-shadow: none !important;
}
.section-bg {
    background:rgba(6, 82, 221, 0.05);
}

/* Navabr CSS */
.navbar {
    background: #FAFAFA;
    padding: 20px 10px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}
.navbar h4{
    color: #0652DD;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-nav a.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #171718 !important;
}
.navbar-nav .nav-link.active {
    color: #0652DD !important;
}
.is-sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    animation: 0.5s ease-in-out fadeInDown;
    box-shadow: 0 5px 35px 0 rgb(6 82 221 / 10%);
}
.navbar-brand img {
    max-width: 150px;
}
/* Banner CSS */
.banner-section {
    height: 100vh;
    background: #FAFAFA
}
.banner-img {
    max-width: 400px;
    margin: auto;
    position: relative;
}
.banner-img img {
    max-width: 100%; 
}

.banner-section .banner-text span {
    font-size: 38px;
    font-weight: 600;
    color: #3e5f91;

}
.banner-section .banner-text h1{
    color: #0652DD;
    font-size: 75px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.banner-section .banner-text p{
    margin: 20px 0px;
}

/* About CSS */
.about-section {
    position: relative;
}
.about-section::before {
    position: absolute;
    content: 'HTML';
    right: 0;
    top: 40%;
    color: #0652DD0d;
    transform: rotate(-90deg);
    font-size: 100px;
}
.aboout-img {
    position: relative;
    z-index: 0;
}
.aboout-img:hover.aboout-img::before {
    transform: rotate(-4deg);
    opacity:1;
}
.aboout-img:hover.aboout-img::after {
    transform: rotate(-9deg);
    opacity: .7;
}
.aboout-img::before {
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background: #0652DD;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transform: rotate(0deg);
    transition:.5s;
    opacity:0;
}
.aboout-img::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background: #0652DD;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transform: rotate(0deg);
    transition:.5s;
    opacity: 0;
}
.aboout-img img{
    box-shadow: 0 15px 30px 0 rgb(6 82 221 / 15%);
    border-radius: 30px;
    border: 10px solid #fff;
}
.about-text ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
} 
.about-text .info {
    margin-bottom: 60px !important;
}
.about-text ul li {
    margin: 0 0 10px;
    font-size: 15px;
}
.about-text ul li span {
    color: #0652DD;
    font-weight: 900;
    margin-right: 30px;
}
.about-text p {
    margin-bottom: 25px;
    max-width: 570px;
}
.font-weight-bold {
    font-weight: 700;
}
.about-text ul li i {
    color: #0652DD;
    font-size: 17px;    
    width: 20px;
}

.about-text h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
.about-text .social-links ul li {
    display: inline-block;
}
.about-text .social-links h5 {
    margin-bottom: 15px;
}
.about-text .social-links ul li a i{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    transition: .5s;
    background: #fff;
    box-shadow: 0 10px 30px 0 rgb(6 82 221 / 15%);
}
.about-text .social-links ul li a i:hover {
    background: #0652DD;
    color: #fff;
}

/* Skill Section */
.skill-section {
    position: relative;
}
.skill-section::before {
    position: absolute;
    content: 'CSS';
    left: 0;
    top: 40%;
    color: #0652DD0d;
    transform: rotate(-90deg);
    font-size: 100px;
    opacity: .5;
}
.skill-section .skill-box {
    box-shadow: 0 5px 30px 0 rgb(6 82 221 / 15%);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fff;
}
.skill-box {
    position: relative;
    transition:.5s;
}
.skill-box::before {
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background: #0652DD;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transform: rotate(0deg);
    transition:.5s;
    opacity:0;
}
.skill-box::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    background: #0652DD;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    transform: rotate(0deg);
    transition:.5s;
    opacity: 0;
}
.skill-box:hover.skill-box::before {
    transform: rotate(-4deg);
    opacity:1;
}
.skill-box:hover.skill-box::after{
    transform: rotate(-9deg);
    opacity: .7;
}
.skill-section .skill-box h6{
    margin-bottom: 30px;
    font-size: 22px;
    position: relative;
}
.skill-section .skill-box h6::before {
    position: absolute;
    content: '';
    background:#0652DD;
    width: 45px;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.skill-section .skill-box .skill-list ul li {
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}   
.skill-section .skill-box .skill-list ul li i{
    font-size: 12px;
    font-weight: 600;
    color: #0652DD;
    margin-right: 10px;
}

.edu-area {
    box-shadow: 0 5px 30px 0 rgb(6 82 221 / 15%);
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.edu-area h3{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    border-bottom: 2px solid #f3e8e8;
    padding-bottom: 20px;
    position: relative;
}
.edu-area h3::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 50px;
    background: #0652DD;
    bottom: -3px;
    left: 0;
}
.edu-area .edu-box {
    margin-bottom: 30px;
    padding-left: 30px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100px;
}
.edu-area .edu-box::before {
    position: absolute;
    content:'' ;
    width: 15px;
    height: 15px;
    background: #F9F9FF;
    border: 2px solid #0652DD;
    left: -9px;
    top: 0;
    border-radius: 30px;
}
.edu-area .edu-box::after {
    position: absolute;
    content:'' ;
    width: 15px;
    height: 15px;
    background: #F9F9FF;
    border: 2px solid #0652DD;
    left: -9px;
    bottom: 0;
    border-radius: 30px;
}
.edu-area .edu-box h6{
    font-size: 14px;
}
.edu-area .edu-box h4{
    font-size: 22px;
}
.edu-area .edu-box span{
    font-size: 13px;
    font-weight: normal;

}
.edu-area .edu-box p{
    margin-bottom: 0;
}

/* Icons CSS */
.icon-section {
   text-align: center;
}

.icon-section .owl-carousel .owl-item img {
    width: inherit !important;
}
.icon-section .icon-img {
    text-align: center;
    border-radius: 5px;
    padding: 30px 0px 0px;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px 0 rgb(6 82 221 / 15%);
    transition: all linear .3s;
    transform: scale(1);
    background: #fff;
    z-index: 1;
}
.icon-section .icon-img img{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 0px auto 30px;
    transform: scale(1);
    transition: .3s linear;
}
.icon-img:hover img {
    transform: scale(.8);
}
.icon-img .icon-name {
    border-top: 1px solid #e6dbdb;
}

.icon-img .icon-name p{
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px 0px;
    font-size: 14px;
    color: #171717;
}
/* Service CSS */
.service-card {
    box-shadow: 0px 2px 24px rgb(5 66 125 / 13%);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.service-card img {
    max-width: 70px;
    margin-bottom: 30px;
}
.service-card h4 {
    font-size: 18px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.service-card p {
    margin-bottom: 0;
}

/* Counter Section */
.counter-section {
    background: #fff;
}

.counter-text {
    text-align: center;
}
.counter-text h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;
    color: #0652DD;
}
.counter-text p {
    margin-bottom: 0;
    font-size: 17px;
}
.cert-section{
    background: #f8f8f8;
}
.cert-section .section-title h3{
  margin: 70px 0px 35px 0px;   
}
.cert-section .section-title h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin: 0px 0px 25px 0px;   
  }
.cert-section .certificate-img{    
    width: 340px; 
    height: 490px;
    margin: 0 auto;
    padding: 10px;
    background: #0652DD;
}

/* Project CSS */
.project-box {
    box-shadow:0 15px 30px 0 rgb(6 82 221 / 15%);
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.project-details-box .project-link h4{
    margin-bottom: 15px !important;
}
.project-details-box .project-link ul {
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}
.project-details-box .project-link ul li {
    list-style: disc;
}

.project-box h6 {
    position: absolute;
    top: 20px;
    left: 0px;
    background: #0652DD;
    color: #fff;
    padding: 5px 30px;
    margin-bottom: 0;
    transform: translateX(-100%);
    transition: 1s;
}
.project-box img {
    transition: 1s;
    height: 320px;
    width: 400px;
}
.project-image-2 {
    max-width:350px;
    
}
.project-box:hover img {
    transform: scale(.9);
    background: #b5a0a0;
}
.project-box:hover h6 {
    transform: translateX(0%);
}
.project-menu ul {
    display: inline-block;
    margin-bottom: 40px !important;
}
.project-menu ul li{
    display: inline-block;
    font-weight: 500;
    margin: 0 2px;
    cursor: pointer;
    color: #0652DD;
    background: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 0 15px 30px 0 rgb(6 82 221 / 15%)
}
.project-menu ul li.active {
    background: #0652DD;
    color: #fff;
}
.project-box .project-link {
    padding: 20px;
}
.project-box .project-link h4 {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
}
.project-box .project-link .live-link {
    display: inline-block;
    border: 1px solid #0652DD;
    padding: 5px 30px;
    text-decoration: none;
    color: #0652DD;
    transition: .5s;
    font-weight: 500;
}
.project-box .project-link a i {
    color: #0652DD;
    margin-left: 10px;    
    transition: .5s;
}
.project-box .project-link a i:hover {    
    color: #fff;
}
.project-box .project-link .live-link:hover {
    background: #0652DD;
    border: 1px solid #0652DD;
    color: #fff;
}

#Container .mix {
    display: none;
}

/* Feedback Area */
.feedback-area {
    max-width: 800px;
    margin: auto;
    box-shadow: 5px 2px 35px #00ffff75;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    background: #ffffff;
    position: relative;
}

.feedback-section .feedback-box img {
    max-width: 100px;
    margin: 0 auto 20px;
}
.feedback-section .feedback-box h5 span {
    font-size: 12px;
    color: #0652DD;
    font-family: inherit;
}
.feedback-section .feedback-box p {
    max-width: 400px;
    margin: 15px auto;
}
.feedback-section .feedback-box ul li {
    display: inline-block;
    color: yellowgreen;
} 

/* Certificate CSS */
.certificate-slider img {
    border:10px solid #0652DD;
}
.certificate-slider {
    padding: 10px;
    margin: 10px;
}

/* Blog */
.blog-area {
    box-shadow: 0 10px 30px 0 rgb(6 82 221 / 15%);
    margin-bottom: 30px;
    border-radius: 40px;
}
.blog-area:hover .blog-img img {
    transform:scale(1.1);
}
.blog-body {
    padding: 40px;
}
.blog-img {
    overflow: hidden;
    border-radius: 40px;
}
.blog-img img {
    border-radius:40px;
    transition:.5s;
}
.blog-info {
    margin-bottom: 25px;
}

.blog-info ul li {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}
.blog-info ul li a {
    text-decoration: none;
    color: #171717;
}
.blog-info ul li i {
    color: #0652DD;
    font-size: 14px;
    margin-right: 3px;
}
.blog-text h3 a {
    font-size:24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #171717;
}
.blog-text h3 a:hover {
    text-decoration: underline;
}
.blog-text a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition:.5s;
}
.blog-text a i {
    top: 2px;
    position: relative;
    right: -5px;
}
.blog-text a:hover {
    color: #171717;
}
/* Contact Section */
.contact-section{
    background: rgb(243, 243, 243);
}
.contact-form {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 15px 30px 0 rgb(6 82 221 / 15%);
}
.form-control:focus {
    box-shadow: none !important;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-group .form-control {
    border: 1px solid #0652dd5c;
}
.contact-form .form-group label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 7px;
}
.contact-form button {
    margin-bottom: 20px;
}
.contact-form #status {
    color: #510080;
    background: rgba(6, 82, 221, 0.07);
    padding: 10px;
    font-size: 18px;
    display: none;
}
/* Footer */
footer {
    text-align: center;
    padding: 35px 0;
}
.social-link ul li {
    display: inline-block;
    margin: 0 5px;
}
.social-link ul li i {
    box-shadow: 0px 0px 12px #00ffffbd;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    font-size: 18px;
    background: #fff;
    color: #0652DD;
    transition: .5s;
    border: 1px solid;
    position: relative;
}
.social-link ul li i::after {
    position: absolute;
    content: '';
    border: 1px solid;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    width: 125%;
    height: 126%;
}
.social-link ul li i:hover {
    background: #0652DD;
    color: #ffffff ;
}
footer p {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 0;
}
/* Footer CSS End */
.back-top {
    position: fixed;
    cursor: pointer;
    bottom: -100px;
    right: 20px;
    color: #ffffff;
    background-color: #0652DD;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    font-size: 22px;
    transition: .9s;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    line-height: 45px;
}
.back-top::after {
    position: absolute;
    content: '';
    border: 1px solid #0652DD;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    width: 123%;
    height: 123%;
}
.back-top.active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}


/* Animation css */
@keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)}
    to{opacity:1;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)}
}

